body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f9f9f9;
  color: #ffffff;
}

.outrapagina {
  display: block;
  padding: 10px;
  color: #fdf7f7;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0a0a0a;
  padding: 10px 20px;
  color: white;
}


.header1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header2 {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
/*
.nav {
  background-color: #722c8d;
}

.nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 10px;
  gap: 30px;
}
*/
.search {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  
}

.promocao {
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
     display: flex;
     background-color: #533562;
}

.promocaonome {
  font-size:20px;
  margin-left: 40%;
}

.promoimg {
  margin-left: 100%;
}
/*
.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0%;
  padding: 0%;
}

.nav li {
  margin: 0 120px;
  
}

.nav a {
  color: rgb(0, 0, 0);
  font-size: 16px;
  
}
*/

.nav {
  display: flex;
  justify-content: center;
  padding: 5px 0; 
  margin-top: 0; 
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: -140; 
  padding: 0; 
}

.nav li {
  margin: 0 120px; 
 
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  
}

/*produtos*/
.produtoscards {
  display:flex;
  flex-wrap: wrap;
  gap: 25px;
}

.produto {
  text-align: center;
  color: #0a0a0a;
  flex: 0 1 18%;
  margin-top: 20px;
}

.produto img {
  width: 200px;
  height: 200px;
  border-radius: 10%;
}



/*rodape*/
.footer {
  background-color: #b18dc4;
  color: white;
  padding: 20px;
  text-align: left;
  margin: 5px 0;
  font-size: 14px;
}
.rodape {
  display: flex;
  align-items: center;

}
