.header {
    text-align: left;
    margin-top: 10px;
}


.header1 {
    text-align: height;
    margin-top: 20px;
}


.header2 {
    text-align: right;
    margin-top: 20px;
}
.nav {
    text-align: center;
    margin-top: 20px;
     display: flex;
}


.promocao {
    text-align: center;
    margin-top: 20px;
     display: flex;
}


.outrapagina {
    text-align: center;
    margin-top: 20px;
     display: flex;
}
