body {
    margin: 0;
    font-family: sans-serif;
    background: #f9f9f9;
  }
 
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 0px 50px;
    gap: 20px;
   
}

.carrinho {
  width: 54px;     
  height: auto;   
}

.perfil {
  width: 28px;
  border-radius: 50%;
}

.logo img {
  width: 150px;
  height: auto;
}


.logo {
    font-size: 24px;
    font-weight: bold;
  }

header input {
    width: 40%;
    padding: 8px;
    border-radius: 6px;
    border: none;
  }
 
.icons span {
    margin-left: 5px;
    font-size: 10px;
    cursor: pointer;
  }
 
nav {
    display: flex;
    justify-content: center;
    background-color: #c794db; /* Lilás claro */
    padding: 5px 0;
  }

.promo-titulo {
  font-family: 'Lobster';
  font-size: 40px;
  color: white;
  text-align: left;
  margin-top: 50px;
}

.promo-perfume {
  font-family: 'Archivo Black';
  font-size: 10px;
  color: white;
  text-align: right;
  margin-top: 30px;
}

.preco-antigo {
   font-family: 'Archivo Black';
  font-size: 10px;
  color: white;
  text-align: right;
  margin-top: 30px;
  text-decoration: line-through red;
}

.preco-novo {
   font-family: 'Archivo Black';
  font-size: 10px;
  color: white;
  text-align: right;
  margin-top: 30px;
}

nav a {
    margin: 0 20px; /* Espaçamento entre os botões */
    text-decoration: none;
    color: white;
    padding: 0px 60px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.3s, color 0.3s;
  }


nav a:hover {
    color: white;
  }

nav a.ativo {
    border-bottom: 4px solid white; /* Destaque do botão "Início" */
    color: white;
  }

.promocao {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #472b5d;
    color: white;
    padding: 30px 20px;
  }
 
.promocao .texto {
    margin: 0 20px;
    max-width: 400px;
  }
 
.container-branco {
  width: 100%;
  background: white;
}

.produtos {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

.produto {
  width: 200px; /* você pode ajustar esse valor */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.produto img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border-radius: 50px;
  margin: 0;
}
 
footer {
    display: flex;
    justify-content: space-around;
    background: #d3b5e0;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }